<div class="container mx-auto  text-center" >
  <div class="relative mt-10 p-10">
    <div class="absolute inset-0 bg-no-repeat bg-cover bg-center opacity-100" style="background-image: url(<%= image_url('27870742_s.jpg') %>);"></div>
    <!-- 背景画像だけ半透明に設定 -->
    <div class="relative">
      <h1 class="font-bold text-7xl mb-4 ">From Desk Color</h1>
        <div class="font-bold text-2xl">
          <p class="mb-4">何書こうかな。</p>
          <p class="mb-4">何書こうかな。</p>
          <p class="mb-4">何書こうかな。</p>
        </div>
        <p class="font-bold m-4 text-2xl">早速診断しましょう。</p>
        <%= link_to '診断する', new_diagnosis_path, class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold text-3xl py-2 px-4 rounded transition duration-300" %>
      </div>
  </div>
  
  <h2 class="font-bold text-1xl py-2">このサービスについて</h2>
  <div class="bg-gray-200 px-2 py-2 text-2xl">
    <div class="flex justify-around items-center m-4">
      <div>
        <h1 class="font-bold text-4xl">STEP1</h1>
        <%= image_tag '1512970557.png', class: "max-wide-80"%>
        <p class="m-4">デスク環境の写真を撮影しておいて下さい。</p>
      </div>
      <div class="font-bold text-6xl">→</div>
      <div>
        <h1 class="font-bold text-4xl">STEP2</h1>
        <%# = image_tag '1524029628.png'%>
        <p class="m-4">写真をアップするだけで診断します。</p>
      </div>
    </div>

    <hr class="border-4 border-yellow-800 my-2">

    <div class="flex justify-around items-center m-4">

    </div>

    <div>
      <p class="font-bold m-4 text-2xl">早速診断しましょう。</p>
      <%= link_to '診断する', new_diagnosis_path, class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold text-3xl mb-4 py-2 px-4 rounded transition duration-300" %>
    </div>
  </div>
</div>
