<div class="my-3">
  <div class="mb-3 flex justify-center">
  <% if diagnosis.desk_image? %>
    <%= image_tag diagnosis.desk_image.url%>
  <% end %>
  </div>

  <div class="mb-3 flex flex-col">
   <%= link_to "【診断結果】", diagnosis_path(diagnosis), class: "underline underline-offset-2 text-2xl mb-1" %>
   <%= diagnosis.color_info %>
  </div>

  <%# = button_to "削除する", @diagnosis, method: :delete %>

</div>