<div class="container mx-auto text-center justify-center">
  <div class="flex flex-col">
    <div>
      <h1 class="font-bold text-4xl my-6">投稿一覧</h1>
    </div>
    <div class="flex flex-row sm:flex-col justify-around">
      <div class="container p-4 m-4 shadow-lg shadow-cyan-900/80 bg-cyan-600 rounded-md">
        <%= pie_chart Diagnosis.group(:color_name).count, title: "「私のデスク環境を最も占めていた色」集計結果" %>
      </div>
      <div class="container p-4 m-4 shadow-lg shadow-cyan-900/80 bg-cyan-600 rounded-md">
        <%= pie_chart Tag.joins(:diagnoses).group('tags.tag_name').count, title: "「私のデスク環境コンセプト」集計結果" %>
      </div>
    </div>
  </div>

  <div class="p-4 m-2 bg-teal-500 rounded-md transition duration-300">
    <div class="mb-3 flex flex-wrap justify-center">
      <% if @diagnoses.present? %>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <%= render partial: "diagnosis", collection: @diagnoses %>
        </div>
      <% else %>
        <div>掲示板がありません</div>
      <% end %>
    </div>
  </div>
</div>
