<div class="mx-auto  text-center mt-5">
  <div class="m-3">
    <%= render "diagnosis", diagnosis: @diagnosis%>
  </div>

  <div>
    <%= "SNSにシェア" %>
  </div>

  <div>
    <%= link_to "投稿されたデスク環境一覧はこちら", diagnoses_path %>
  </div>
</div>