<header class="fixed top-0 w-full z-10 bg-white">
  <nav class="navbar py-2 px-2 items-center shadow-lg shadow-cyan-600/70">
    <div class="flex justify-between items-center w-full">
      <div class="font-bold text-2xl sm:text-3xl">
        <h1><%= link_to t('header.title'), "/" %></h1>
      </div>

    <!-- menu -->
      <div>
        <div class="hidden md:flex">
          <%= render "shared/large_screen/before_login_menu" %>
        </div>
        <div class="flex md:hidden">
          <%= render "shared/small_screen/before_login_menu" %>
        </div>
      </div>
    </div>
  </nav>
</header>