<header>
  <nav class="navbar py-2 px-2 flex justify-between items-center shadow-lg shadow-cyan-500/70">
    <div class="font-bold text-3xl">
      <%= link_to 'From Desk Color', "/" %>
    </div>

    <div class="flex items-center">
        <%= link_to '投稿一覧', diagnoses_path, class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
        <%= link_to 'ログイン', login_path, class: "inline-block bg-amber-600 hover:bg-amber-800 text-white font-bold mx-1 py-2 px-4 rounded transition duration-150 ease-in-out" %>
    </div>
  </nav>
</header>