<div class="inline-block rounded m-5 px-2 bg-slate-300">
  <% flash.each do |message_type, message| %>
    <div class="m-3 font-bold alert <%= flash_class(message_type) %>">
      <%= message %>
    </div>
  <% end %>
</div>