<div class="inline-block rounded m-2 px-2 bg-teal-300">
  <% flash.each do |message_type, message|%>
    <div class="m-3 alert bg-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
</div>